<html>

<head>
    <title>Taro</title>
    <meta name="description" content="A multiplayer HTML5 game engine">
    <meta name="keywords" content="modd.io, taro, multiplayer">

    <!-- OpenGraph Metadata -->
    <meta property="og:title" content="Taro">
    <meta property="og:description" content="A multiplayer HTML5 game engine">

    <!-- Icon -->
    <link rel="icon" href="/assets/images/favicon.png" size="64">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

    <link rel="stylesheet" href="/assets/css/common.css">

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-contextmenu@2.9.2/dist/jquery.contextMenu.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-contextmenu@2.9.2/dist/jquery.ui.position.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>

    <!-- LZ-String -->
    <script src="https://cdn.jsdelivr.net/npm/lz-string@1.4.4/libs/lz-string.min.js"></script>    

    <!-- Lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>    

    <!-- Sweet Alert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.min.js"></script>

    <!-- Pixi.JS -->
    <script src="https://cdn.jsdelivr.net/npm/pixi.js-legacy@6.0.4/dist/browser/pixi-legacy.min.js"></script>

    <!-- Game Variables -->
    <script>
        var mode = 'play';
        var gameId = '<%= gameId %>';
        var userId = '';
        var isLoggedIn = false;
        window.joinGameSent = {};
        function loadJS(file) {
            // DOM: Create the script element
            var jsElm = document.createElement('script');
            // set the type attribute
            jsElm.type = 'application/javascript';
            // make the script element load file
            jsElm.src = file;
            // finally insert the element to the body element in order to load the script
            document.body.appendChild(jsElm);
        }
    </script>
</head>

<body>
    <div id="game-div" style="overflow: hidden">
        <%- include('templates/dev-console'); -%>
        <%- include('templates/menu'); -%>
        <%- include('templates/shop'); -%>
        <%- include('templates/gui'); -%>
        <%- include('templates/chat'); -%>
        <%- include('templates/inventory'); -%>
        <%- include('templates/dialogue'); -%>
        <%- include('templates/trade'); -%>
    </div>
    <%- include('templates/videochat.ejs'); -%>

    <!-- load engine -->
    <script type="text/javascript">
        var igeRoot = './engine/';
        window.isStandalone = true;
        gameStarted = false;
    </script>
    <script>
            (function ($) {
                $.fn.writeText = function (content, duration, callback) {
                    content = content || '';

                    var contentArray = content.split(''),
                        current = 0,
                        elem = this;

                    if (isNaN(duration)) {
                        duration = 20;
                    }

                    if (duration <= 0) {
                        elem.html(content);
                        callback();
                        return;
                    }

                    var handle = setInterval(function () {
                        if (current < contentArray.length) {
                            var text = elem.html();
                            var newText = contentArray[current];

                            if (newText === '<' && /\w/.test(contentArray[current + 1])) {
                                do {
                                    current++;
                                    var nextChar = contentArray[current];
                                    newText += nextChar;
                                } while (nextChar !== '>');
                            }

                            elem.html(text + newText);
                            current++;
                        } else {
                            clearInterval(handle);
                            callback();
                        }
                    }, duration);

                    return handle;
                };
            })(jQuery);
        </script>

        <script type="text/javascript" src="/engine/loader.js"></script>
</body>

</html>